<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  Today is {{ today }}, the browsers locale is {{ locale }}
</div>
<div style="margin: 20px">
  <div>
    <mat-form-field>
      <mat-label>Input a number</mat-label>
      <input matInput type="number">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Select a date</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
</div>

